body{
    background:#bdceff;
    font-family: 'Roboto', sans-serif;
    overflow:hidden;
    
    /* */
    }
    .container{
        border-bottom:3px solid #005aad;
        padding:5px;
        
        }
     .menu{
  width: 300px;
  border: 15px solid red;
  padding: 50px;
  margin: 20px;
    }
        .menu1{
  width: 300px;
  border: 15px solid red;
  padding: 50px;
  margin: 20px;
    }
        
        
        .menu-item:hover{
            font-size:1.5em;
            color:red;
            cursor: pointer;
        }
        