body{
    background:#bdceff;
    font-family: 'Roboto', sans-serif;
    /* */
    }
form {   
       border: 3px solid #f1f1f1;   
    }  
input[type=time], input[type=time],input[type=date] {   
        width: 100%;   
        margin: 5px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid rgb(0, 115, 128);   
        box-sizing: border-box;   
    }   
.container {   
        padding: 25px;   
        background-color: lightblue;  
    }   